USE [Lenovox2]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 28/08/2017 09:52:06 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Table_1]') AND type in (N'U'))
DROP TABLE [dbo].[Table_1]
GO
USE [master]
GO
/****** Object:  Database [Lenovox2]    Script Date: 28/08/2017 09:52:06 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'Lenovox2')
DROP DATABASE [Lenovox2]
GO
/****** Object:  Database [Lenovox2]    Script Date: 28/08/2017 09:52:06 p.m. ******/
CREATE DATABASE [Lenovox2]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lenovox2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lenovox2]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 28/08/2017 09:52:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Table_1]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Table_1](
	[columna1] [nchar](10) NULL
) ON [PRIMARY]
END
GO
USE [master]
GO
